body {
  font-family:    Verdana, Helvetica, Arial, sans-serif;
  font-size:      small;
  margin:         0px;
  background-color: #111;
  color:          #BEBEBE;
}

header, footer {
  background-color: #202020;
  padding:        10px;
}

header {
  text-align:     center;
}

footer {
  text-align:     right;
}

fieldset {
  border:         dotted thin;
}

#main {
  width:          800px;
  padding:        10px;
  margin-left:    auto;
  margin-right:   auto;
  margin-top:     15px;
  margin-bottom:  15px;
  background-color: #202020;
}

/* section > p {
  font-size:      1.3em;
} */

#answer {
  font-size:      1.3em;
  font-style:     italic;
  margin:         0px;
  padding:        10px;
}

form {
  display:        table;
  padding:        10px;
}

div.tableRow {
  display:        table-row;
}

div.tableRow > label, div.tableRow > input, div.tableRow > select {
  display:        table-cell;
  padding:        3px;
}

div.tableRow label:first-child {
  text-align:     right;
}

legend {
  font-weight:    bold;
}

#backbutton {
  margin-left:    2px;
  margin-top:     10px;
  padding:        5px;
  height:         30px;
  width:          60px;
  text-align:     center;
  line-height:    30px;
  vertical-align: middle;
  font-weight:    bold;
  background-color: #363636;
}

#backbutton a:link, #backbutton a:visited {
  text-decoration: none;
  color:          #BEBEBE;
}