<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ajax validating test</title>
    <script type="text/javascript" src="validate.js"></script>
    <style>
      body {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size:   small;
      }
      
      form {
        display:     table;
        padding:     10px;
      }
      
      .tableRow {
        display:     table-row;
      }
      
      .tableRow > label, .tableRow > input, .tableRow > p {
        display:     table-cell;
        padding:     5px;
      }
      
      .tableRow > label {
        text-align:  right;
      }

      .tableRow > p {
        font-size:   smaller;
        font-style:  oblique;
      }
      
      #userform {
        width:       500px;
        padding:     10px;
        margin:      0px;
        background-color: #EEEEEE;
      }
    </style>
  </head>
  <body>
    <section id="userform">
      <div>
        %s
      </div>
      <fieldset onmouseover="checkInput()">
        <legend>Signup form</legend>
        <form action="adduser.php" method="POST" autocomplete="on">
          <div class="tableRow">
            <label>Forename</label>
            <input type="text" maxlength="32" name="forename" value="%s" required="required">
          </div>
          <div class="tableRow">
            <label>Surname</label>
            <input type="text" maxlength="32" name="surname" value="%s" required="required">
          </div>
          <div class="tableRow">
            <label>Username</label>
            <input type="text" maxlength="32" name="username" value="%s" onblur="validateUsername(this.value)" required="required">
            <p id="usernameErr"></p>
          </div>
          <div class="tableRow">
            <label>Password</label>
            <input type="password" maxlength="32" name="password" value="%s" onblur="validatePasswd(this.value)" required="required">
            <p id="passwdErr"></p>
          </div>
          <div class="tableRow">
            <label>Age</label>
            <input type="text" maxlength="3" name="age" value="%s" onblur="validateAge(this.value)" required="required">
            <p id="ageErr"></p>
          </div>
          <div class="tableRow">
            <label>Email</label>
            <input type="email" maxlength="64" name="email" value="%s" onblur="validateEmail(this.value)" required="required">
            <p id="emailErr"></p>
          </div>
          <div class="tableRow">
            <label></label>
            <input type="submit" value="Signup" id="submButton">
          </div>
        </form>
      </fieldset>
    </section>
  </body>
</html>
