body {
  font-family:      Verdana, Helvetica, Arial, sans-serif;
  background-color: #FFFCF4;
  font-size:        small;
  margin:           0px;
}

header {
  background-color: #D2FAE3;
  padding:          5px;
  margin-bottom:    15px;
  box-shadow:       0px 3px 3px #888;
  text-align:       center;
}

section {
  width:            70%;
  margin-left:      auto;
  margin-right:     auto;
}

article {
  margin:           10px;
  padding:          10px;
  box-shadow:       0px 0px 3px #888;
  border-radius:    2px;
  background-color: white;
}

article > h3 {
  margin:           0px;
}

article > h3, h3 > a, h3 > a:hover, h3 > a:visited {
  text-decoration:  none;
  color:            #3E3E3E;
  text-shadow:      1px 1px 1px #888;
}

article > time {
  display:          block;
  text-align:       right;
  font-size:        smaller;
  margin-bottom:    5px;
}

article > hr {
  margin:           0px;
  color:            #FFFCF4;
}

form {
  display:          table;
  width:            100%;
  margin-left:      auto;
  margin-right:     auto;
}

.tableRow {
  display:          table-row;
}

.tableRow > label, .tableRow > input, .tableRow > textarea {
  display:          table-cell;
  vertical-align:   top;
}

.tableRow > label {
  text-align:       right;
  font-weight:      bold;
  padding:          5px;
  width:            15%;
}

input, textarea {
  margin:           5px;
}

.tableRow > input, .tableRow > textarea {
  width:            95%;
}

.tableRow > textarea {
  resize:           none;
}

.menubuttons {
  background-color: white;
  width:            100px;
  height:           20px;
  margin:           10px;
  margin-right:      0px;
  padding:          5px;
  box-shadow:       0px 0px 3px #888;
  border-radius:    2px;
  text-align:       center;
  display:          inline-block;
  transition:       background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, border-radius 0.5s ease 0.1s;
  -moz-transition:  background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, border-radius 0.5s ease 0.1s;
  -webkit-transition: background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, border-radius 0.5s ease 0.1s;
}

.menubuttons:hover {
  background-color: #D2FAE3;
  box-shadow:       0px 0px 5px #33CC33;
  border-radius:    15px;
  transition:       background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, border-radius 0.5s ease 0.1s;
  -moz-transition:  background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, border-radius 0.5s ease 0.1s;
  -webkit-transition: background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, border-radius 0.5s ease 0.1s;
}

.menubuttons > a, .menubuttons > a:hover, .menubuttons > a:visited {
  color:            #3E3E3E;
  text-decoration:  none;
  vertical-align:   middle;
  font-weight:      bold;
  text-shadow:      0px 0px 8px #888;
}

#loginform {
  width:            50%;
  margin-left:      auto;
  margin-right:     auto;
}
