body {
  font-family:      Verdana, Helvetica, Arial, sans-serif;
  font-size:        small;
}

section {
  margin:           0px auto 0px auto;
  padding:          15px;
  width:            70%;
  background-color: burlywood;
  text-align:       center;
}

#chatWindow {
  border:           1px solid gray;
  width:            90%;
  height:           400px;
  overflow-y:       scroll;
  word-wrap:        normal;
  text-align:       left;
  font-size:        medium;
  background-color: white;
  padding:          10px;
  margin:           15px auto 15px auto;
}

#chatWindow > p {
  margin:           10px 5px 0px 5px;
  padding:          5px;
}

textarea {
  resize:           none;
  width:            70%;
}